* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  border: 1px solid black;
  width: 420px;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 60px;
}

.heading {
  display: flex;
  padding: 10px;
}

.heading-1 {
    display: flex;
    padding: 10px;
  }

.refresh {
  display: flex;
  margin: 0 5px;
  padding: 0 90px;
  justify-content: space-between;
}

.title {
  display: flex;
  font-size: 12px;
}

.main-area {
  display: flex;
  padding: 10px;
  margin-right: 39px;
}

#outline {
  outline: none;
  display: flex;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  height: 20px;
}

.add {
  display: flex;
  margin: 0 70px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.add-1 {
    display: flex;
    margin: 0 70px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
  }

.list {
  display: flex;
  align-items: center;
  margin-top: 10px;
  flex-direction: column;
  margin-right: 120px;
}

.items {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
}

hr {
  width: 400px;
}

.clear {
  padding: 15px;
}

.check {
  margin-right: 10px;
}
